{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<h1>{{=thread.title}}</h1>
<p><strong>{{=thread.body}}</strong></p>

{{=form}}
{{if len(posts) > 0:}}


  {{for p in reversed(posts):}}
    {{if p.author == '':}}
      <p>Anonymous says: {{=p.body}} <img src="{{=URL('default', 'download', args=p.image)}}" width="150"/></p>
    {{else:}}
      <p>{{=p.author}} says: {{=p.body}} <img src="{{=URL('default', 'download', args=p.image)}}" width = "150"/></p>
    {{pass}}
  {{pass}}

{{else:}}
  There are no posts in this thread
{{pass}}

{{=A('Make a post', _class = 'btn',
        _href = URL('post', 'new', args = [thread.id]))}}