{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{=A('Back to board', _class = 'btn',
        _href = URL('board', 'index', args = [thread.board_id]))}}

{{=form}}        

<h1>{{=thread.title}}</h1>
<p>
{{if thread.image:}}
  <img src="{{=URL('default', 'download', args=thread.image)}}" width = "200"/>
{{pass}}
<strong>{{=thread.body}}</strong>
</p>

{{if len(posts) > 0:}}

  {{for p in reversed(posts):}}
    {{if p.author == '':}}
      <p>Anonymous:</p>
      <p>
      {{if p.image:}}
        <img src="{{=URL('default', 'download', args=p.image)}}" width="200"/>
      {{pass}}
      {{=p.body}}
      {{=A('Delete', _class = 'btn',
        _href = URL('post', 'delete', args = [p.id]))}}
      </p>
    {{else:}}
      <p>{{=p.author}}:</p>
      <p>  
      {{if p.image:}}
        <img src="{{=URL('default', 'download', args=p.image)}}" width = "200"/>
      {{pass}}
      {{=p.body}}
      {{=A('Delete', _class = 'btn',
        _href = URL('post', 'delete', args = [p.id]))}}
      </p>
    {{pass}}
  {{pass}}

{{else:}}
  <p>There are no posts in this thread</p>
{{pass}}

{{=A('Back to board', _class = 'btn',
        _href = URL('board', 'index', args = [thread.board_id]))}}