.form table {
    margin: 0 auto;
}

.postbod {
	clear: both;
}
.post {
	background-color: #B2D1E5;
	display: inline-block;
	margin-top: 20px;
	padding: 10px 10px 10px 10px;
	box-shadow: 2px 2px 1px #888888;
}