.bg {
  background-color: #EEF2FF;
}

hr {
  border: none;
  border-top: 1px solid #B7C5D9;
  height: 0px;
}

.form table {
  margin: 0 auto;
}

.op {
  align: left;
}

.oppic {
  margin: 5px 15px 5px 10px;
}

.post {
  background-color: #D6DAF0;
  border:1px solid #B7C5D9;
  border-left: none;
  border-top: none;
  display: table;
  padding: 10px;
  margin-top: 5px;
}

div>hr {
  clear: both;
} 

div>p>a {
  clear: both;
}

.showpic {
  margin: 5px 10px 5px 10px;
}

.postbod {
  margin: 10px 20px 10px 20px;
  display: flex;
}

.board-block {
  border-style: solid;
  border-size: 2px;
  text-align: center;
  display: inline-block;
  height: 200px;
  width: 200px;
}

.board-index-link {
  color: black;
}

.board-index-pic {
  height: 80%;
  width: 80%;
}