{{left_sidebar_enabled, right_sidebar_enabled=False,('message' in globals())}}
{{response.title=board_name}}
{{extend 'layout.html'}}

<link rel="stylesheet" type="text/css" href="/w2pchan/static/css/board.css">

<script type="text/javascript">
  $(document).ready(function(){
    $(".oppic").click(function(){
      var imgWidth = $(this).css("width");
      var imgHeight = $(this).css("height");
      if (imgWidth == "250px") {
        $(this).css("width", "75%");
        $(this).removeAttr("align");            
      } else {
        $(this).css("width", "250px");
        $(this).attr("align", "left");   
      }
    });

    $(".showpic").click(function(){
      var imgWidth = $(this).css("width");
      var imgHeight = $(this).css("height");
      if (imgWidth == "125px") {
        $(this).css("width", "75%");
        $(this).removeAttr("align");            
      } else {
        $(this).css("width", "125px");
        $(this).attr("align", "left");   
      }
    });

    $(".form").toggle();
    $(".toggle_form").click(function(){
      $(".form").toggle();
      $(".toggle_form").toggle();
    });
  });
</script>

<a class="toggle_form"><h3 style="text-align: center">[Create a New Thread]</h3></a>
<div class = "form">{{=form}}</div>
{{if len(threads) > 0:}}

{{for t in threads:}}
  <div class="op">
    <p>
      <strong>{{=t.title}}</strong>
      {{if t.author == '':}}
        Anonymous
      {{else:}}
        {{=t.author}}
      {{pass}}
      {{=t.date_created}}
      {{=A('[Reply]', _href=URL('thread', 'index', args=[t.id]))}}
    </p>
    <p>
      {{if t.image:}}
        <img class = "oppic" src="{{=URL('default', 'download', args=t.image)}}" width = "250" align="left"/>
      {{pass}}
      <p class="postbod">{{=t.body}}</p>
    </p>
  </div>

  {{for p in rec_post[t.id]:}}
    <div class="post">
      <p>
        {{if p.author == '':}}
          Anonymous
        {{else:}}
          {{=p.author}}
        {{pass}}
        {{=p.date_created}}
      </p>
      {{if p.image:}}
        <img class="showpic" src="{{=URL('default', 'download', args=p.image)}}" width="125" align="left"/>
      {{pass}}
      <p class="postbod">{{=p.body}}</p>
    </div>
  {{pass}}
<hr>
{{pass}}

{{else:}}
<p style="text-align: center;">There are no threads</p>
{{pass}}

{{=A('[Return to board index]', _href=URL('default', 'index'))}}

